.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shadow {
  background: #ffffff;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.value {
  margin-top: 12px;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.05em;
  color: #444444;
}

.description {
  font-weight: 500;
  font-size: 8px;
  line-height: 10px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #999999;
}

.icon {
  width: 24px;
}

.shadow .icon {
  width: 40px;
}

.shadow .value {
  margin-top: 0;
}
